h1 {
    color: red;
}

body {
    font-family: arial,sans-serif;
}

.grid {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto 150px 150px 150px;
}

.grid-item{
    text-align: center
    
}

.grid-advancedSearch {
    display: grid;
    padding: 10px;
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 400px auto;
}

.grid-item-advanced.Description{
    display: grid;
    align-items: center;
}

.grid-item-advanced{
    background-color: white;
    font-size: 13px;
    text-align: left;   
}

.Description{
    font-size: 11px;
    color: #555555;
}

.search{
    text-align: center;
    padding: 100px 100px;
}

.advancedInput{
    width: 380px;
    height: 36px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #bebebe;
    color: #505358;
    flex: 100%
}

.searchInput {
    border-radius: 18px;
    width: 600px;
    height: 36px;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #bebebe;
    color: #505358;
    flex: 100%
}

.searchInput:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #b9b9b9;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button-Advanced {
    line-height: 100%;
    height: 30px;
    width: 100px;
    min-width: 120px;
    margin: 10px 20px;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    justify-self: end;
}